# Dependency directory
node_modules
**/node_modules
.idea
.vscode
.DS_Store
npm-debug.log
package-lock.json
dist/*
**/dist/*
dll/*
firebase-debug.log
.cache
.firebase/
.yarn
packages/ui
packages/api
packages/business-logic